
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django RockStar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% include 'event/css.html' %}

  </head>

  <body>
     <div id="loader"></div>
     {% include 'event/header.html' %}

     {% include 'event/slider.html' %}

     {% include 'event/about.html' %}

     {% include 'event/aplication.html' %}

     {% include 'event/faq.html' %}

     {% include 'event/coach_brief.html' %}

     {% include 'event/coach_list.html' %}

     {% include 'event/organizer_list.html' %}

     {% include 'event/sponsor_list.html' %} 

     {% include 'event/footer.html' %}

     {% include 'event/js.html' %}

  </body>
</html>
