{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Preview Formulario Participante - Django Rockstar</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'invitation/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'invitation/guest_invitation.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template 
    <link href="starter-template.css" rel="stylesheet">-->

    <link href="{% static 'invitation/media_query.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
    
      <div class="header clearfix">
      
        <div class="col-xs-6">
             <div class="logo_gpc">
                <img src="{{object.event.logo.url}}" class="img-responsive" alt="{{object.event.name}}" />
            </div>
        
        </div>

        <div class="col-xs-6" align="right">
            <div class="logo_evento">
                {# <img src="{{object.event.logo.url}}" class="img-responsive" alt="{{object.event.name}}" /> #}
            </div>
        </div>
        
        <!--<h3 class="text-muted center">Puntacana Logo</h3> -->
      </div>
    
      <div class="row">
      
        <div class="col-xs-12">
            <table class="table table-bordered">
                <col width="40%">
                <col width="60%">
                <tr>
                    <th>NOMBRE PARTICIPANTE:</th>
                    <td><p class="text-uppercase">{{object.name}}</p></td>
                </tr>
                <tr>
                    <th>CORREO ELECTRONICO:</th>
                    <td>{{object.email}}</td>
                </tr>
                <tr>
                    <th>TELEFONO:</th>
                    <td>{{object.phone_number}}</td>
                </tr>
                <tr>
                    <th>CIUDAD:</th>
                    <td>{{object.city}}</td>
                </tr>
                <tr>
                    <th>SEXO:</th>
                    <td>{{object.sex}}</td>
                </tr>
            
            </table>

        
        </div>
      
      </div>
      
      <div class="row">
      
        <div class="col-xs-12">
        

            <table class="table table-bordered">
                <col width="40%">
                <col width="60%">
                <tr>
                    <th>SISTEMA OPERATIVO:</th>
                    <td>{{object.operation_system}}</td>
                </tr>
                <tr>
                    <th>NIVEL DE PROGRACION:</th>
                    <td>{{object.programing_level}}</td>
                </tr>
                {% if object.programing_knowledge %}
                <tr>
                    <th>CONOCIMIENTO DE PROGRACION:</th>
                    <td>{{object.programing_knowledge}}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>OCUPACION:</th>
                    <td>{{object.current_ocupation}}</td>
                </tr>
                <tr>
                    <th>RAZON DE ASISTENCIA:</th>
                    <td>{{object.reason_assistance}}</td>
                </tr>
            </table>

        </div>
      </div>
    
      

      <footer class="footer hidden-print">
        <p>Copyright © 
                <script>document.write(new Date().getFullYear())</script>
              <a href="http://www.djangorockstar.com.do/" target="_blank">Django RockStar</a>. Todos los derechos reservados.
        </p>
    </footer>

    </div> <!-- /container -->
  </body>
  
  
</html>



