{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
  {% block title %}{% endblock %}
  </title>
  <!-- plugins:css -->
  {% include 'dashboard/css.html' %}
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">

                {% block content %}{% endblock %}
            
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
        {% include 'security/js.html' %}
  <!-- endinject -->
</body>

</html>