{% extends "security/base.html" %}

{% block title %}Registrar nueva contraseña - Django RockStar{% endblock %}

{% block content %}
    <div class="auto-form-wrapper">

        <h1>Django RockStar</h1>

        <div class="description">
              <p>
                Su contraseña ha sido establecida. Puedes continuar e <a href="{% url 'login' %}">iniciar</a> ahora.
              </p>
              <a href="{% url 'login' %}" class="btn btn-primary submit-btn btn-block">Login</a>
        </div>

    </div>
{% endblock %}