



<div class="modal fade" id="modal-resend-invitation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <p align="left">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{modal_title}}</h4>
            </p>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            
          </div>
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->