{% extends "forms/base_form.html" %}
{% load staticfiles widget_tweaks %}
{% load staticfiles %}

{% block title %}Django RockStar - Formulario Participante{% endblock %}


{% block content %}

         <div class="container">
            <div class="row">
               <div class="col-md-12">
               <div class="section-title">
                  <h2 class="success">¡Gracias por registrarte!</h2>
                  <span class="dots dt-theme margin-bottom-1"></span>
                    <p>
                        {{object.event.portal.participant_sucess}}
                    <p>
                        <a href="{% url 'event:event-detail' object.event.uuid %}" class="btn btn-default">Regresar a la página principal</a>

                    </p>
                </div>
              </div>
            </div>
        </div>

        <div class="space-lg"></div>

{% endblock %}