
{% extends 'event/email/base.html'%}

    {% block contenido %}

              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>

                        <h1>Hola {{participant}},</h1>
                        <p>Es para nosotros contar con su participación en nuestro taller de programación.</p>
                        <p>Para ver su invitación, haga clic en la siguiente opción.</p>
                      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> 
                                        <a href="{{current_domain}}/event/participant//{{participant.uuid}}/invitation/" target="_blank">Invitación Django RockStar</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

    {% endblock %}

