
<div class="btn-group dropdown">
  <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Opciones {{object}}
  </button>
  <div class="dropdown-menu">
    {% for option in object.get_options_menu_list %}
        
        {% with path=option.url %}
        <a class="dropdown-item" href="{% url path item.uuid %}">
          <i class="fa fa-reply fa-fw"></i>{{option.name}}</a>
        {% endwith %}

        {% if not forloop.last %}
            <div class="dropdown-divider"></div>
        {% endif %}
    {% endfor %}
  </div>

<!--
<div class="btn-group dropdown">
  <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Opciones
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'dashboard:participant-approval' object.uuid %}">
      <i class="fa fa-reply fa-fw"></i>Aprobar</a>
    <a class="dropdown-item" href="#">
      <i class="fa fa-history fa-fw"></i>Desestimar</a>
    <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'event:participant-invitation' object.uuid %}">
          <i class="fa fa-check text-success fa-fw"></i>Ver formulario</a>
  </div>
-->