{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}{% endblock %}
  <!-- plugins:css -->
  {% include 'dashboard/css.html' %}
  {% block css_extra %}{% endblock %}
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'dashboard/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
        {% include 'dashboard/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

        {% block content %}

        {% endblock %}

        {% include 'dashboard/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  {% include 'dashboard/js.html' %}
  {% block js_extra %}{% endblock %}
</body>

</html>