<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:participants-pending' %}">
              <i class="menu-icon mdi mdi-account-multiple"></i>
              <span class="menu-title">Listado Participantes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
              <i class="menu-icon mdi mdi-ninja"></i>
              <span class="menu-title">Listado Mentores</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <i class="menu-icon mdi mdi-face"></i>
              <span class="menu-title">Listado Organizadores</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="menu-icon mdi mdi-meteor"></i>
              <span class="menu-title">Evento</span>
            </a>
          </li>

        </ul>
      </nav>
